.sidebar-section{
    display: flex;
    background-color: black;
}

.sidebar{
    height: 100vh;
    background-color: #1e1e2c;
    color: white;
    width: 90px;
    position: fixed;
}

.sidebar-toggle {
    width: 230px;
}
.sidebar-toggle-icons{
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-top: 30px;
}

.sidebar-toggle-icons p svg {
    background-color: rgb(255, 113, 136);
    border-radius: 15px;
}
/* ==== MOBILE VIEW ========== */
@media (max-width: 600px) {
    .sidebar {
      display: none;
    }
  }